# Python cache files
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# Environment variables
.env

# macOS files
.DS_Store

# Generated model and output files
models/
outputs/